<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.unito.ium.myreps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppModel"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controllers.MainController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.LoginController"
            android:parentActivityName=".controllers.MainController">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.MainController" />
        </activity>
        <activity
            android:name=".controllers.UserController"
            android:parentActivityName=".controllers.MainController">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.MainController" />
        </activity>
        <activity
            android:name=".controllers.LessonController"
            android:parentActivityName=".controllers.MainController">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.MainController" />
        </activity>
    </application>

</manifest>